* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

th, td {
    border-right: 1px solid #979797;
    /* border-left: 1px solid #979797; */
}

table {
    /* evitar de duplicar as bordas */
    border-collapse: collapse;

    margin: 0 auto;
}

.cabecalho__principal {
    font-size: 12px;

    border-right: 1px solid #ffffff;
}

.cabecalho__principal__celvazia {
    border-left: 0px;
}

.cabecalho__principal__1 {
    background-color: #0078C1;

    color: white;

    width: 200px;
    height: 30px;
}

.cabecalho__principal__2 {
    background-color: #009E2C;

    color: white;

    width: 400px;
    height: 25px;
}

.cabecalho__secundario {
    height: 70px;
    width: 250px;

    color: #4A4A4A;

    font-weight: lighter;
    font-size: 14px;
}

button {
    background: #FF5406;

    text-transform: uppercase;
    color: white;

    border: 0;
    border-bottom-color: #FF5406;
    border-radius: solid #FF5406;
    border-radius: 2px;

    width: 80px;
    height: 25px;
}


tbody tr:nth-child(odd){
    background-color: #f3f3f3;
}

.conteudo {
    width: 200px;
    height: 20px;
}

.conteudo__coluna1 {
    font-size: 10px;

    color: #4A4A4A;
}

.conteudo__coluna2 {
    color: #0078C1;
}

.conteudo__coluna2,
.conteudo__coluna3,
.conteudo__coluna4,
.conteudo__coluna5 {
    text-align: center;

    font-size: 10px;

    padding: 5px;
}

.conteudo__coluna3,
.conteudo__coluna4, 
.conteudo__coluna5 {
    color: #009E2C;
}

.conteudo__ultlinha {
    color: #4A4A4A;

    text-align: center;

    font-size: 10px;

    padding: 5px;
}

