@charset "UTF-8";
/* Variáveis */
/* @mixin */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.img-responsive {
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  -webkit-width: 100%;
  width: 100%;
}

.container {
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  -webkit-width: 100%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn_roxo {
  max-width: 250px;
  margin: 0 auto;
  background-color: #C083B9;
  color: white;
  -moz-text-align: -align;
  -ms-text-align: -align;
  -o-text-align: -align;
  -webkit-text-align: -align;
  text-align: -align;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn_roxo:hover, .btn_roxo:focus {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #c09cbc;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.btn_roxo:active {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.btn_center {
  margin: 0 auto;
}

/* Variáveis */
/* @mixin */
.navegacao {
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  -webkit-width: 100%;
  width: 100%;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 99;
  background-color: #674582;
  color: white;
  text-transform: uppercase;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

@media (min-width: 1440px) {
  .navegacao__box {
    max-width: 80%;
  }
}

.navegacao__itens {
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  -webkit-width: 100%;
  width: 100%;
  padding: 3rem 0;
  position: absolute;
  top: 85px;
  right: -700px;
  background-color: #674582;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
  -webkit-transition: right 1s;
  transition: right 1s;
}

.navegacao__itens.ativo {
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  -webkit-width: 100%;
  width: 100%;
  padding: 3rem 0;
  top: 85px;
  right: 0;
  background-color: #674582;
  display: block;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
  -webkit-transition: right 1s;
  transition: right 1s;
}

@media (min-width: 1440px) {
  .navegacao__itens li {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
}

.navegacao__itens li > a {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navegacao__itens li > a:hover {
  color: #C083B9;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
  background-color: #C083B9;
}

.navegacao__nav {
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.navegacao__nav li {
  margin: 1rem;
  font-size: 1.5rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .navegacao__itens {
    width: auto;
    padding: 0;
    position: static;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: initial;
    -ms-align-items: initial;
    -o-align-items: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -moz-justify-content: initial;
    -ms-justify-content: initial;
    -o-justify-content: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -moz-flex-direction: initial;
    -ms-flex-direction: initial;
    -o-flex-direction: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: initial;
    -o-flex-wrap: initial;
    flex-wrap: initial;
  }
  .navegacao__nav {
    margin-bottom: 0;
  }
  .navegacao__itens ul {
    -moz-width: 100%;
    -ms-width: 100%;
    -o-width: 100%;
    -webkit-width: 100%;
    width: 100%;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -moz-flex-direction: initial;
    -ms-flex-direction: initial;
    -o-flex-direction: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: initial;
    -o-flex-wrap: initial;
    flex-wrap: initial;
    -moz-text-align: center;
    -ms-text-align: center;
    -o-text-align: center;
    -webkit-text-align: center;
    text-align: center;
  }
  .navegacao__itens li {
    margin: 0 .6rem;
    font-size: 1.2rem;
  }
  .navegacao__menu-hamburguer {
    display: none;
  }
}

/* Variáveis */
/* @mixin */
.header {
  padding: 11rem 2rem 5rem 2rem;
  height: 500px;
  min-height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 255, 0.2)), to(rgba(255, 0, 255, 0.2))), url(../img/turma6.jpeg);
  background: linear-gradient(rgba(255, 0, 255, 0.2), rgba(255, 0, 255, 0.2)), url(../img/turma6.jpeg);
  background-size: cover;
  background-position: center 14%;
  background-repeat: no-repeat;
  color: white;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -moz-justify-content: initial;
  -ms-justify-content: initial;
  -o-justify-content: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    min-height: 75vh;
    padding: 5rem 10rem;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .header {
    min-height: 90vh;
  }
}

.principal__titulo {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .principal__titulo {
    font-size: 2.9rem;
  }
}

.principal__sub {
  margin: 2rem 0 3rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .principal__sub {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .principal__btn {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .principal {
    max-width: 650px;
  }
}

@media (min-width: 1440px) {
  .principal {
    max-width: 650px;
  }
}

/* Variáveis */
/* @mixin */
.maravilhosas__titulo {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #63458a;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

.maravilhosas__box {
  color: #63458a;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: initial;
  -ms-align-items: initial;
  -o-align-items: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .maravilhosas__box > div {
    max-width: 200px;
    margin: 5rem;
  }
}

.maravilhosas__perfil {
  margin: 2rem;
  max-width: 120px;
}

.maravilhosas__perfil img {
  border-radius: 10px;
}

.maravilhosas__perfil a img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.maravilhosas__perfil a:hover {
  text-decoration: underline;
}

.maravilhosas__perfil a:hover img {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .maravilhosas__perfil p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .maravilhosas {
    padding: 4rem 0;
  }
}

/* Variáveis */
/* @mixin */
.rodape {
  padding-top: .8rem;
  font-size: .9rem;
  background-color: #323534;
  color: white;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

.rodape__principal {
  padding: 1.5rem 0;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

.rodape__principal > * {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .rodape__principal {
    -moz-width: 100%;
    -ms-width: 100%;
    -o-width: 100%;
    -webkit-width: 100%;
    width: 100%;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-wrap: initial;
    -o-flex-wrap: initial;
    flex-wrap: initial;
  }
}

.rodape__navegacao > li {
  margin: 1rem;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .rodape__navegacao > li {
    font-size: 1.5rem;
  }
}

.rodape__navegacao a {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rodape__navegacao a:hover {
  color: #C083B9;
}

.rodape__logo {
  max-width: 200px;
}

@media (min-width: 768px) {
  .rodape__logo img {
    max-width: 250px;
  }
}

.rodape__redes-sociais a {
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rodape__redes-sociais a:hover {
  color: #C083B9;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: .5rem;
}

.rodape__redes-sociais span {
  font-size: 1.5rem;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: initial;
  -ms-align-items: initial;
  -o-align-items: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -moz-justify-content: initial;
  -ms-justify-content: initial;
  -o-justify-content: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

.rodape__cc {
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  -webkit-width: 100%;
  width: 100%;
  font-size: 1rem;
  background-color: #292A2A;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .rodape {
    padding-top: 0;
  }
}

/* Variáveis */
/* @mixin */
.header-personalidade {
  height: 500px;
  min-height: 80vh;
  color: white;
  background-size: cover;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

.header-personalidade__titulo {
  font-size: 2.6rem;
  text-transform: uppercase;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

@media (min-width: 768px) {
  .header-personalidade__titulo {
    font-size: 3.5rem;
    -moz-text-align: center;
    -ms-text-align: center;
    -o-text-align: center;
    -webkit-text-align: center;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .header-personalidade {
    padding: 0 20rem;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -moz-flex-direction: initial;
    -ms-flex-direction: initial;
    -o-flex-direction: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: initial;
    -o-flex-wrap: initial;
    flex-wrap: initial;
  }
}

.secao-diva {
  padding: 5rem 2rem;
  margin: 0 auto;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: center;
  -o-flex-wrap: center;
  flex-wrap: center;
}

.secao-diva__titulo {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #674582;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

.secao-diva__titulo_esq {
  margin-right: auto;
}

.secao-diva p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #63458a;
}

@media (min-width: 1024px) {
  .secao-diva p {
    font-size: 1.7rem;
  }
}

.secao-diva__introducao {
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: initial;
  -ms-justify-content: initial;
  -o-justify-content: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

@media (min-width: 1024px) {
  .secao-diva__introducao {
    margin: 3rem 0;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: inherit;
    -ms-align-items: inherit;
    -o-align-items: inherit;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -moz-justify-content: initial;
    -ms-justify-content: initial;
    -o-justify-content: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-wrap: initial;
    -o-flex-wrap: initial;
    flex-wrap: initial;
  }
}

.secao-diva__foto-perfil {
  margin: 1rem;
}

.secao-diva__foto-perfil > img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.secao-diva__citacao p {
  padding: 1rem;
  border: 1px solid #63458a;
  font-size: 1.7rem;
  font-weight: bold;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .secao-diva__citacao p {
    padding: 4rem;
    font-size: 2.5rem;
  }
}

.secao-diva__historia {
  padding: 5rem 0;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: initial;
  -ms-justify-content: initial;
  -o-justify-content: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

.secao-autora {
  height: 150px;
  background-color: #e4b7e5;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: initial;
  -ms-align-items: initial;
  -o-align-items: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-flex-direction: initial;
  -ms-flex-direction: initial;
  -o-flex-direction: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

.secao-autora > div {
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: initial;
  -o-flex-wrap: initial;
  flex-wrap: initial;
}

@media (min-width: 1024px) {
  .secao-autora > div {
    padding: 0;
    text-align: left;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: initial;
    -ms-align-items: initial;
    -o-align-items: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-wrap: initial;
    -o-flex-wrap: initial;
    flex-wrap: initial;
  }
}

.secao-autora__foto {
  height: 150px;
  width: 15%;
  max-width: 150px;
}

.secao-autora__foto > img {
  height: 150px;
  width: 100%;
  max-width: 150px;
}

.secao-autora__dados {
  padding-top: 3.5%;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #63458a;
}

.secao-autora__dados p {
  margin: 0;
}

@media (min-width: 1024px) {
  .secao-autora__dados {
    margin: 0 3rem;
  }
}

.secao-autora a {
  font-style: italic;
  text-decoration: underline;
}

.secao-cta {
  padding: 4rem 0;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */